_ss_environment.php
.buildpath
.project
.settings
.solr
.ea
.idea
.DS_Store
.env
.vagrant
/assets
/silverstripe-cache
/public/resources
/public/_resources
/public/install.php
/public/install-frameworkmissing.html
/public/web.config
/themes
/public/assets
/vendor

